<!-- =======================ABOUT============================
Зверніть увагу!                                             ||
Скелет (html, head, body) в цей файл додавати не потрібно!  ||
Додаємо тільки розмітку своєї частинки                      ||
                                                            ||
Коректний відносний шлях до зображень має такий вигляд      ||
<img src="/img/about/about-desk.jpg" alt="">                ||
========================================================== -->
<section class="about" id="about">
  <ul>
    <li>
      <h3 class="about-list-tittle">01</h3>
      <p class="about-text">
        Swimming and water sports: try your hand at water skiing
      </p>
    </li>
    <li>
      <h3 class="about-list-tittle">02</h3>
      <p class="about-text"></p>
      Fishing: try to catch your own dinner
    </li>
    <li>
      <h3 class="about-list-tittle">03</h3>
      <p class="about-text">
        Sightseeing tours: take a shore or island tour, enjoy the views and
        sunsets from the water
      </p>
    </li>
    <li>
      <h3 class="about-list-tittle">04</h3>
      <p class="about-text">
        Rest and relaxation: read a book or listen to music while enjoying the
        outdoor atmosphere.
      </p>
    </li>
  </ul>

  <img
    class="about-images"
    src="../img/about/about-desk.jpg"
    alt=""
    width="432"
  />
</section>
