<!-- =====================CATALOG============================
Зверніть увагу!                                             ||
Скелет (html, head, body) в цей файл додавати не потрібно!  ||
Додаємо тільки розмітку своєї частинки                      ||
                                                            ||
Коректний відносний шлях до зображень має такий вигляд      ||
<img src="/img/catalog/yaht-1.jpg" alt="">                  ||
========================================================== -->
<section class="catalog">
  <h2 class="catalog-title">
    Choose your dream yacht and sail away into the sunset
  </h2>
  <ul class="catalog-yatchs">
    <li class="catalog-block">
      <img
        class="catalog-picture"
        src="/img/catalog/yaht-1.jpg"
        alt="Big yatch in sea"
        width="345"
      />
      <p class="catalog-yatch-name">Arrow</p>
      <p class="catalog-yatch-type">LUXURY YAHTS</p>
      <ul class="catalog-ttx">
        <li class="catalog-ttx-item">LENGTH</li>
        <li class="catalog-ttx-item">BUILDER</li>
        <li class="catalog-ttx-item">BUILT</li>
        <li class="catalog-ttx-item">GUESTS</li>
        <li class="catalog-ttx-item">PRICE</li>
      </ul>
      <ul class="catalog-stats">
        <li class="catalog-stats-item">48m(155ft)</li>
        <li class="catalog-stats-item">Admiral</li>
        <li class="catalog-stats-item">2021</li>
        <li class="catalog-stats-item">11 in 5 cabins</li>
        <li class="catalog-stats-item">€33,500,000</li>
      </ul>
    </li>
    <li class="catalog-block">
      <img
        class="catalog-picture"
        src="/img/catalog/yaht-2.jpg"
        alt="Big yatch in sea"
        width="345"
      />
      <p class="catalog-yatch-name">BENETTI OASIS 40</p>
      <p class="catalog-yatch-type">LUXURY YAHTS</p>
      <ul class="catalog-ttx">
        <li class="catalog-ttx-item">LENGTH</li>
        <li class="catalog-ttx-item">BUILDER</li>
        <li class="catalog-ttx-item">BUILT</li>
        <li class="catalog-ttx-item">GUESTS</li>
        <li class="catalog-ttx-item">PRICE</li>
      </ul>
      <ul class="catalog-stats">
        <li class="catalog-stats-item">41m (133ft)</li>
        <li class="catalog-stats-item">Benetti</li>
        <li class="catalog-stats-item">2025</li>
        <li class="catalog-stats-item">10 in 5 cabins</li>
        <li class="catalog-stats-item">€23,210,000</li>
      </ul>
    </li>
    <li class="catalog-block">
      <img
        class="catalog-picture"
        src="/img/catalog/yaht-3.jpg"
        alt="Big yatch in sea"
        width="345"
      />
      <p class="catalog-yatch-name">BELLE ANNA</p>
      <p class="catalog-yatch-type">LUXURY YAHTS</p>
      <ul class="catalog-ttx">
        <li class="catalog-ttx-item">LENGTH</li>
        <li class="catalog-ttx-item">BUILDER</li>
        <li class="catalog-ttx-item">BUILT</li>
        <li class="catalog-ttx-item">GUESTS</li>
        <li class="catalog-ttx-item">PRICE</li>
      </ul>
      <ul class="catalog-stats">
        <li class="catalog-stats-item">50m(155ft)</li>
        <li class="catalog-stats-item">ISA</li>
        <li class="catalog-stats-item">2012</li>
        <li class="catalog-stats-item">12 in 6 cabins</li>
        <li class="catalog-stats-item">€21,000,000</li>
      </ul>
    </li>
  </ul>
  <button class="catalog-button" type="button">Yacht rental</button>
</section>
