<!-- =======================HEADER===========================
Зверніть увагу!                                             ||
Скелет (html, head, body) в цей файл додавати не потрібно!  ||
Додаємо тільки розмітку своєї частинки                      ||
========================================================== -->

<header class="cap">
  <a class="logo" href="/index.html">yachtjet</a>
  <nav>
    <button class="button-nav about">
      <a href="#about">About</a>
    </button>
    <button class="button-nav yachts">
      <a href="#yachts">Yachts</a>
    </button>
    <button class="button-nav reviews">
      <a href="#reviews">Reviews</a>
    </button>
  </nav>
</header>
