.catalog {
}
.catalog-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
}
.catalog-yatchs {
}
.catalog-block {
  background-color: #fbfbfb;
}
.catalog-picture {
}
.catalog-yatch-name {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #1b414b;
}
.catalog-yatch-type {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #989899;
}
.catalog-ttx {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #989899;
}
.catalog-ttx-item {
}
.catalog-stats {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #040306;
}
.catalog-stats-item {
}

.catalog-button {
  border: 1px solid rgba(251, 251, 251, 0.35);
  border-radius: 15px;
  padding: 16px 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  background-color: #0e1823;
}
